.InputErrorWrapper {
    position: relative;
}

.InputErrorWrapper .error {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    /* height: 0; */
    top: -500%;
    background: #F2F3F7;
    border-radius: 20px;
    padding: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    transition-property: opacity, height, padding, top;
    transition-duration: 0.5s, 0, 0, 0;
    transition-delay: 0s, 0.5s, 0.5s, 0.5s;
}

.InputErrorWrapper .error.showed {
    opacity: 1;
    /* height: 22px; */
    padding: 5px 15px;
    top: -100%;

    /* transition: opacity 0.5s 0.1s, height 0s, padding 0s, top 0s; */

    transition-property: opacity, height, padding, top;
    transition-duration: 0.5s, 0s, 0s, 0s;
    transition-delay: 0s, 0s, 0s, 0s;
}