
.btn {
    outline: none;
    border: none;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: none;
    padding: 8px 16px;
    color: #515151;
    background-color: #F2F3F7;
}

.btn.sm {
    /* max-width: 120px; */
}

@keyframes button {
    from {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        box-shadow: none;
    }
    to {
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        filter: none;
    }
}

.btn.clicked {
    background-color: #699C8B;
    animation: button 0.1s;
    color: #FFF;
}
