.look-modal {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    gap: 15px;
}

.look-modal__controls {
    display: flex;
    justify-content: space-between;
}

.look-modal__like {
    filter: grayscale(0.8);
    transition: all 0.5s;
}

.look-modal__like_liked {
    filter: grayscale(0);
    transition: all 0.5s;
}

.look-modal__header {
    align-self: center;
}

.look-modal__image {
    width: 160px;
    border: 3px solid #C4C4C4;
    border-radius: 15px;
    align-self: center;
    object-fit: cover;
}

.look-modal__cloths {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
    max-height: 90vh;
    overflow-y: scroll;
    gap: 15px;
    padding: 15px;
}

.look-modal__cloths::-webkit-scrollbar {
    display: none;
}

.look-modal-cloth {
    background-color: #F2F3FF;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.look-modal-cloth__image {
    object-fit: cover;
    width: 50%;
    align-self: center;
    border-radius: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.look-modal-cloth__info {
    display: grid;
    grid-template: 'type color color' 'btn btn btn';
    align-items: center;
}

.look-modal-cloth__type {
    grid-area: type;
    text-align: center;
}

.look-modal-cloth__color {
    width: 20px;
    height: 20px;
    grid-area: color;
    border-radius: 50%;
    border: 2px solid #699C8B
}

.look-modal-cloth__buy {
    grid-area: btn;
    text-align: center;
}

.look-modal-cloth__buy_hidden {
    opacity: 0;
}

.lookModalControls select {
    border: none;
    background: #F9F9F9;
    border-radius: 20px;
    text-align-last: center;
    color: #699C8B;
    font-size: 13px;
    font-weight: bold;
    font-family: Roboto;
    padding: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    max-height: 40px;
    justify-self: center;
    outline: none;
}