
.addClothText {
    color: #A5BCB4;
    font-size: 16px;
}


.clothList {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-y: scroll;
    flex: 1;
    margin-bottom: 15px;
}

.clothList .clothItem {
    height: 100%;
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 15px;
    display: block;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
}


.clothList .clothItem.choosed {
    border: 3px solid #699C8B;
    transition: all 0.5s;
}

.clothList .clothItem .clothImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.clothList .clothItem .clothChoosed {
    position: absolute;
    right: 7px;
    top: 7px;
    opacity: 0;
    transition: all 0.5s;
}

.clothList .clothItem .clothChoosed.choosed {
    opacity: 1;
    transition: all 0.5s;
}

.clothFiltres {
    margin-top: 15px;
    grid-template-columns: 1fr 4fr 1fr;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-items: center;
    align-items: flex-start;
    margin-bottom: 10px;
    min-height: 35px;
}

.clothFiltres.showed {
    grid-template-columns: 1fr 5fr;
    align-items: flex-start;
}




.clothFiltres .addClothText {
    margin: 0px;
}

.clothFiltresPlus {
    font-size: 35px;
    font-weight: normal;
    color: #515151;
    line-height: 30px;
}

.filteresList {
    padding: 6px;
    display: grid;
    width: 100%;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
}

.filteresItem {
    font-size: 14px;
    color: #515151;
    transition: all 0.3s;
}

.filteresItem.choosed {
    background: #699C8B;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    color: #F2F3F7;
    transition: all 0.3s;
}



.lookButtons {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    margin-bottom: 15px;
}

.lookButtons .btn {
    /* padding: 4px 8px; */
}

.basketContainer {
    justify-self: flex-start;
    align-self: center;
}

.basketContainer .basketIcon {
    width: 30px;
}



.createModal {
    display: grid;
    gap: 35px;
}

.createModal .createModalHeader {
    font-size: 20px;
    text-align: center;
    margin: 0;
    color: #699C8B;
}

.createModal .createModalText {
    font-size: 16px;
    color: #515151;
    text-align: center;
    margin: 0px;
}

.createModal .createModalWarning {
    color: #C4C4C4;
    font-size: 14px;
    text-align: center;

    margin: 0px;
}

.deleteModal {
    display: grid;
    grid-template-areas:
        'header header'
        'no yes'
        'warning warning';
    grid-template-rows: 2fr 1fr 0.5fr;
    gap: 15px;
    align-items: center;

}

.deleteModal .deleteModalHeader {
    grid-area: header;
    font-size: 16px;
    color: #515151;
    text-align: center;
    margin: 0px;

}

.deleteModal .deleteModalNo {
    grid-area: no;
    margin: 0px 10px;
}

.deleteModal .deleteModalYes {
    grid-area: yes;
    background: #D86D6D;
    color: white;
    margin: 0px 10px;
}

.deleteModal .deleteModalWarning {
    grid-area: warning;
    color: #C4C4C4;
    font-size: 14px;
    text-align: center;

    margin: 0px;
}