@media (min-width: 700px) {
    .header-logo {
        height: 85px;
        transform: translate(20px);
    }

    .clothFiltres {
        margin: 20px 0;
    }

    .addClothText {
        font-size: 26px;
    }

    .addClothText br {
        display: none;
    }

    .clothFiltresPlus {
        font-size: 45px;
    }

    .lookButtons {
        justify-content: center;
        grid-template-columns: auto;
        grid-template-columns: repeat(3, 180px);
        gap: 18px;
    }
}