.userForm {
    display: grid;
    gap: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #515151;
    margin: 20px 0px;
}

.userForm h2 {
    font-size: 22px;
    color: #699c8b;
    margin: 0px;
}

.useForm-button {
    justify-self: center;
    padding: 10px 30px;
    margin-bottom: 20px ;
}

.stringInputContainer {
    margin: 15px 5px;
    display: flex;
   align-items: center;
   justify-content: space-around;
}

.stringInput {
    padding: 6px;
    margin: 15px 17px;
    gap: 15px;
    background: #F9F9F9;
    border-radius: 20px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
    font-size: 16px;
    outline: none;
    border: none;
    background: #F9F9F9;
    text-align: center;
    color: #515151;
}

.style {
    background-color: #F2F3F7;
    border-radius: 20px;
    display: grid;
    width: fit-content;
    justify-self: center;
    padding: 16px;
    gap: 22px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border: 2px solid rgba(0,0,0,0);
    box-sizing: border-box;
    transition: 0.5s all;
    position: relative;
}

.style.choosed {
    border: 2px solid #699C8B;
    transition: 0.5s all;
}

.styleCircle {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #C4C4C4;
    top: 15px;
    right: 15px;
    transition: 0.5s all;
}

.styleCircle.choosed {
    border: 2px solid #699C8B;
    background-color: #699C8B;
    transition: 0.5s all;
}

.styleTitle {
    margin: 0;
}

.styleImgsContainer {
    display: flex;
    flex-direction: column;
    justify-self: center;
    flex: 1;
    gap: 18px;
}

.styleImgs {
    display: flex;
    gap: 10px;
}