.lookPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 10px 6px;
    /* justify-content: space-around; */
    overflow-y: scroll;
    /* flex: 1; */
    margin: 10px 0px;
    align-self: center;
}

.lookPage::-webkit-scrollbar {
    display: none;
}

.backButton {
    justify-self: start;
}