.lookPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 10px 6px;
    /* justify-content: space-around; */
    overflow-y: scroll;
    flex: 1;
    margin: 10px 0px;
}

.lookPage::-webkit-scrollbar {
    display: none;
}

.lookCategory {
    background: #F2F3F7;
    box-shadow: 3px 4px 10px #BECDE2;
    border-radius: 20px;
    display: grid;
    align-items: center;
    padding: 15px 0;
    justify-content: center;
}

.lookCategoryCloth {
    width: 38px;
    height: 38px;
    background: #F2F3F7;
    box-shadow: inset 2px 2px 5px #BECDE2, inset 2px 2px 5px #BECDE2, inset 2px 2px 5px #BECDE2, inset 2px 2px 5px #BECDE2;
    border-radius: 15px;
    overflow: hidden;
}

.lookCategoryImgContainer {
    width: 80%;
    height: 88px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 12px;
    justify-items: center;
    align-items: center;
}

.lookCategoryCloth img {
    width: 100%;
    height: 100%;
}

.lookCategoryCloth.cover img {
    object-fit: cover;
}

.lookCategory h2 {
    margin: 0;
    font-size: 14px;
    color: #515151;
    align-self: flex-end;
}

.backButton {
    justify-self: start;
}

.categoryPage {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    gap: 15px;
    overflow-y: scroll;
    margin: 30px 0;
}


.categoryPage::-webkit-scrollbar {
    display: none;
}


.categoryPageLook {
    border-radius: 5px;

    box-sizing: border-box;
    display: block;
    transition: all 0.5s;
    position: relative;
    height: fit-content;
}

.categoryPageLook img {
    width: 100%;
    border: 3px solid #C4C4C4;
    border-radius: 15px;
}