.lookPage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    padding: 10px 6px;
    /* justify-content: space-around; */
    overflow-y: scroll;
    /* flex: 1; */
    margin: 10px 0px;
    align-self: center;
}

.lookPage::-webkit-scrollbar {
    display: none;
}

.backButton {
    justify-self: start;
}

.categoryPage {
    display: grid;
    flex-direction: column;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
    gap: 15px;
    overflow-y: scroll;
    margin: 30px 0;
}

.categoryPage::-webkit-scrollbar {
    display: none;
}

.categoryPageLook {
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    transition: all 0.5s;
    position: relative;
    height: fit-content;
}

.categoryPageLook img {
    width: 100%;
    border: 3px solid #C4C4C4;
    border-radius: 15px;
}