.lookModalHeader img.lookModalHeaderImage {
    width: auto;
    height: 150px;
}

#uploadLookPicture, .updateClothPicture {
    display: none;
}

.adminUser {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-auto-columns: 1fr 3fr;


}

.adminUserImage {
    width: 100%;
}

.lookModalImgAdmin {
    width: 40%;
}

.colorCircle {
    width: 35px;
    height: 35px;
}

.adminUserInfo {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
}

.adminUserInfo div{
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

.CreateClothAdmin {
    margin: 5px;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}

.CreateClothAdmin .createClothUrl {
    width: 70%;
    margin: 5px;
    
}

.createdCloth {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 5fr;
    margin: 5px;
    background-color: rgba(0,0,0,0.2);
    padding: 15px;
    border-radius: 5px;
}

.createdCloth img {
    width: 100%;
}

