.header {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.header__logo {
    height: 45px;
}

.user-icon {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    justify-self: self-end;
    background-position: 50%;
    background-size: cover;
}

.menu-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 0vh;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.3s 0.3s, height 0s 0.6s;
    overflow: hidden;
    z-index: 1;
}

.menu-container_shown {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease-out, height 0s;
    height: 100vh;
}

.menu {
    position: relative;
    background-color: #fff;
    height: 50vh;
    top: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: top 0.3s;
    justify-items: center;
    align-items: center;
    display: grid;
    z-index: 1;
}

.menu_shown {
    transition: top 0.3s;
    transition-delay: 0.3s;
    top: 50%;
}

.menu__icon-container {
    align-self: flex-end;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.25));
    border: 1px solid black;
    background-position: 50%;
    background-size: cover;
}

.plus-button {
    position: absolute;
    right: 0px;
    bottom: 7px;
    font-size: 22px;
    background: #f2f3f7;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #A1A1A1;
    color: #A1A1A1;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}

.plus-button__icon {
    margin-left: 2px;
}

.plus-button__input {
    display: none;
}

.menu__info-container {
    align-self: flex-start;
    color: #515151
}

.menu__mail-header {
    font-size: 25px;
    color: #515151;
    margin: 20px 0px 7px;
}

.menu__buttons-list {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 160px;
    gap: 15px;
}