.inp {
    outline: none;
    border: none;
    border-radius: 20px;
    text-align: left;
    font-size: 16px;
    padding: 8px 0px 8px 13px;
    width: 75vw;
    border: 2px solid #699C8B;
    font-family: Roboto;
    font-style: normal;
    color: #515151;
    transition: border 0.2s;
}

.inp.invalid {
    border: 2px solid red;
    transition: border 0.2s;
}


.inp.valid {
    color: #699C8B;
}



@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    50% {
        transform: translate3d(-4px, 0, 0);
        border: 2px solid red;
    }

    30%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.inp.shake {
    animation: shake .5s;
}

.inp::placeholder {
    color: #C4C4C4;

}